.inner_grid {
  padding: 5.2rem 0 14rem 0;
}
.inner_next_grid {
  padding-left: 2rem;
  .body_text {
    width: 75%;
  }
}

.title_text {
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 2.6rem;
  padding-top: 2rem;
}
.body_text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: black;
}
