.title {
  width: 80%;
  margin: 14rem auto 0 auto;
  font-family: "Overpass", sans-serif;
  font-size: 4.2rem;
}
.title_white {
  color: white;
  width: 80%;
  margin: 14rem auto 0 auto;
  font-family: "Overpass", sans-serif;
  font-size: 4.2rem;
}
