.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
  text-align: end;
}
.email {
  font-size: 1.2rem;
  line-height: 1.1;
  color: #959494;
}
.avatar {
  margin: 0 1.4rem;
}
