@import "../../App.scss";
.app_bar {
  .toolbar {
    padding: 0;
    @include mobile {
      min-height: 6.4rem;
    }
    .logo svg {
      width: 13.5rem;
    }
    .desktop_nav {
      ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        // margin: 0 5rem;
        padding: 0;
        li {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 1.6rem;
          white-space: nowrap;
          margin: 0 2.8rem 0 0;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            color: $orange;
            cursor: pointer;
          }
          a.scroll {
            color: $blue !important;
          }
        }
      }
    }
    .hamburger {
      margin-left: auto;
    }
  }
}

.mobile_nav {
  ul {
    list-style-type: none;
    padding: 1rem 1.5rem;
    li {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.8rem;
      white-space: nowrap;
      margin-top: 2.5rem;
      &:hover {
        color: $orange;
        cursor: pointer;
      }
      a.scroll {
        color: $blue !important;
      }
    }
  }
}
